{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul style="color: green;">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}






<h2>Pavillons manquants</h2>
<table border="1">
    <tr>
        <th>IMO</th><th>Pavillon actuel</th><th>Corriger</th>
    </tr>
    {% for imo, pavillon in pavillons_vides %}
    <tr>
        <form method="POST">
            <td>{{ imo }}</td>
            <td>{{ pavillon }}</td>
            <td>
                <input type="hidden" name="imo" value="{{ imo }}">
                <input type="text" name="pavillon" maxlength="2" required>
                <button type="submit">✅ Enregistrer</button>
            </td>
        </form>
    </tr>
    {% endfor %}
</table>
